/* ! CSS Reset Start */

/* Box sizing rules on everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Removing default styles on ol, ul */
ol,
ul {
  list-style: none;
}

/* Set Default Body */
body {
  height: 100vh;
  /* line-height: 1.5; */
}

/* Easier image settings - Sets common media content to fill maximum of its parent containter */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Cascade inherits the font from the parents to these elements (Overrides/Removes the built-in form typography style preventing inheritence) */
input,
button,
textarea,
select {
  font: inherit;
}

/* Allows single long words to be broken to another line in its container instead of overflowing beyond it */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Removes the spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* ! CSS Reset Complete */

.container-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 4px solid pink;
}
.box {
  display: flex;
  flex-direction: column;
}

.container-header {
  min-height: 50px;
  border: 2px solid rgb(23, 44, 24);
}

.container-scoreboard {
  max-height: 400px;
  width: 100%;
  border: 10px solid yellowgreen;
  align-items: center;
}

.container-scoreboard-grid {
  /* max-height: 500px;
  width: 500px; */
  min-width: 500px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* for the below section grid-area: 1 / 1 / 8 / 13 */
/* .div1 {
  grid-area: 2 / 2 / 8 / 12;
} */
.div2 {
  grid-area: 4 / 5 / 6 / 7;
}
.div3 {
  grid-area: 4 / 7 / 6 / 9;
}
.div4 {
  grid-area: 2 / 5 / 4 / 7;
}
.div5 {
  grid-area: 2 / 7 / 4 / 9;
}
.div6 {
  grid-area: 4 / 10 / 5 / 12;
}
.div7 {
  grid-area: 4 / 2 / 5 / 4;
}
.div8 {
  grid-area: 4 / 9 / 7 / 12;
}
.div9 {
  grid-area: 4 / 2 / 7 / 5;
}
.div10 {
  grid-area: 6 / 4 / 7 / 10;
}
.div11 {
  grid-area: 7 / 7 / 8 / 12;
}
.div12 {
  grid-area: 7 / 2 / 8 / 7;
}
.div13 {
  grid-area: 6 / 8 / 7 / 12;
}
.div14 {
  grid-area: 6 / 2 / 7 / 6;
}
.div15 {
  grid-area: 3 / 5 / 4 / 9;
}
.div16 {
  grid-area: 3 / 3 / 4 / 12;
}
.div17 {
  grid-area: 3 / 2 / 4 /11;
}
/* .div18 {
  grid-area: 1 / 2 / 2 / 12;
} */
.div19 {
  grid-area: 1 / 1 / 9 / 13;
}
/* .div20 {
  grid-area: 2 / 2 / 8 / 12;
} */
.div21 {
  grid-area: 4 / 2 / 7 / 12;
}

.container-scoreboard-style {
  display: flex;
  flex-flow: column;
  background-color: rgba(63, 63, 63, 0.692);
}

.container-controls {
  flex: 1;
  min-height: 200px;
  border: 2px solid green;
}

.container-footer {
  min-height: 50px;
  border: 2px solid rgb(144, 17, 194);
}

/*for the below section grid-area: 1 / 1 / 13 / 13 */
/* 
.div1 {
  grid-area: 2 / 2 / 12 / 12;
}
.div2 {
  grid-area: 4 / 5 / 6 / 7;
}
.div3 {
  grid-area: 4 / 7 / 6 / 9;
}
.div4 {
  grid-area: 2 / 5 / 4 / 7;
}
.div5 {
  grid-area: 2 / 7 / 4 / 9;
}
.div6 {
  grid-area: 4 / 10 / 5 / 12;
}
.div7 {
  grid-area: 4 / 2 / 5 / 4;
}
.div8 {
  grid-area: 4 / 9 / 7 / 12;
}
.div9 {
  grid-area: 4 / 2 / 7 / 5;
}
.div10 {
  grid-area: 6 / 4 / 7 / 10;
  background-color: green;
}
.div11 {
  grid-area: 7 / 7 / 8 / 12;
}
.div12 {
  grid-area: 7 / 2 / 8 / 7;
}
.div13 {
  grid-area: 6 / 8 / 8 / 12;
}
.div14 {
  grid-area: 6 / 2 / 8 / 6;
}
.div15 {
  grid-area: 3 / 5 / 4 / 9;
}
.div16 {
  grid-area: 3 / 9 / 4 / 12;
}
.div17 {
  grid-area: 3 / 2 / 4 / 5;
}
.div18 {
  grid-area: 1 / 2 / 2 / 12;
}
.div19 {
  grid-area: 1 / 1 / 13 / 13;
}
.div20 {
  grid-area: 2 / 2 / 12 / 12;
} */

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-footer {
  flex: 0 1 40px;
}

.header-ticker-style {
  margin: 0 1.65rem;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 0px;
}

.header-ticker-transform {
  transform: translateY(-100%);
  opacity: 1;
  z-index: 1;
  transition: transform 2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.25s linear,
    z-index 0.4s step-end;
  transition-property: transform, opacity, z-index;
}

.header-ticker-visitor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: darkmagenta;
  -webkit-mask-image: url(./images/FolderTab.svg);
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  transform: translateY(50%);
  mask-image: url(./images/FolderTab.svg);
  mask-size: 100% 50%;
  mask-repeat: no-repeat;
}

.header-ticker-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgb(235, 225, 32);
  -webkit-mask-image: url(./images/FolderTab.svg);
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(./images/FolderTab.svg);
  mask-size: 100% 50%;
  mask-repeat: no-repeat;
  transform: translateY(50%);
}

.header-ticker-home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(15, 157, 157);
  -webkit-mask-image: url(./images/FolderTab.svg);
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  transform: translateY(50%);
  mask-image: url(./images/FolderTab.svg);
  mask-size: 100% 50%;
  mask-repeat: no-repeat;
}

/* .header-ticker-background-style {
  grid-area: 1 / 1 / 2 / 4;
} */
.vTickerLeftStyle,
.hTickerLeftStyle {
  grid-area: 1 / 1 / 2 / 2;
}
.vTickerCenterStyle,
.hTickerCenterStyle {
  grid-area: 1 / 2 / 2 / 3;
}
.vTickerRightStyle,
.hTickerRightStyle {
  grid-area: 1 / 3 / 2 / 4;
}

.record {
  display: flex;
  font-weight: bold;
  padding: 0rem 1.7rem;
}
.record-visitor {
  align-content: start;
  justify-content: start;
}
.record-home {
  align-content: start;
  justify-content: right;
}

.logo-style {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo-background {
  background-color: rgba(43, 43, 43, 0);
}

.logo-visitor {
  background: linear-gradient(135deg, transparent 20px, white 20px);
}

.logo-home {
  background: linear-gradient(225deg, transparent 20px, white 20px);
}

.container-ticker {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(11, 13, 15, 0.8);
  padding: 0.5rem 0;
  color: whitesmoke;
  font-weight: bold;
}

.aside-style {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.transform-hidden {
  transform: translateX(0%), translateY(0%);
  opacity: 0;
  z-index: -1;
  transition: transform 2s cubic-bezier(1, 0.13, 0, 0.87), opacity 1.75s linear,
    z-index 0.2s step-start;
  transition-property: transform, opacity, z-index;
}

.aside-visitor-transform {
  transform: translateX(-100%);
  opacity: 1;
  z-index: 1;
  transition: transform 2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.25s linear,
    z-index 2.2s step-end;
  transition-property: transform, opacity, z-index;
}

.aside-home-transform {
  transform: translateX(100%);
  opacity: 1;
  z-index: 1;
  transition: transform 2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.25s linear,
    z-index 2.2s step-end;
  transition-property: transform, opacity, z-index;
}

.score-style {
  place-self: center;
  font-size: 3rem;
}

.transform-hidden-coin {
  transform: scale(10%);
  opacity: 0;
  z-index: -1;
  transition: transform 0.25s cubic-bezier(1, 0.13, 0, 0.87),
    opacity 1.75s linear, z-index 0.2s step-start;
  transition-property: transform, opacity, z-index;
}

/* transform: translateY(100%); */
/* opacity: 1;
  z-index: 1;
  transition: transform 2s coin-easeOutBounce, opacity 0.25s linear,
    z-index 0.3s step-end;
  transition-property: transform, opacity, z-index; */
/* animation: coin-EaseOutBounce 5s step-start, opacity 5s linear,
    z-index 5s step-start; */
/* animation-duration: 5s; */

/* animation-duration: 5s;
  animation-name: coin-EaseOutBounce;
  animation-iteration-count: 3;
  animation-direction: alternate; */

.coin-transform {
  animation: coin-easeOutBounce 2s linear 2 alternate;
}

@keyframes coin-easeOutBounce {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(-10%);
    scale: 100%;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    scale: 125%;
  }
}

.indicator-style {
  display: flex;
  align-items: flex-start;
  height: 50%;
}

.indicator-style input {
  appearance: none;
  width: 1.25em;
  height: 0.4em;
  background: rgb(255, 255, 255);
}

.indicator-timeouts-visitor {
  justify-content: flex-start;
  padding: 0 0 0 1.4rem;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 10%,
    rgb(206, 180, 180, 1) 10.05%
  );
}

.indicator-timeouts-home {
  justify-content: flex-end;
  padding: 0 1.4rem 0 0;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 10%,
    rgb(206, 180, 180, 1) 10.05%
  );
}

.plays-form-display-none {
  display: none;
}

.plays {
  position: relative;
}

.resetPlayFormButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
