/* ! CSS Reset Start */

/* Box sizing rules on everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Removing default styles on ol, ul */
ol,
ul {
  list-style: none;
}

/* Set Default Body */
body {
  height: 100vh;
  line-height: 1.5;
}

/* Easier image settings - Sets common media content to fill maximum of its parent containter */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Cascade inherits the font from the parents to these elements (Overrides/Removes the built-in form typography style preventing inheritence) */
input,
button,
textarea,
select {
  font: inherit;
}

/* Allows single long words to be broken to another line in its container instead of overflowing beyond it */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Removes the spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* ! CSS Reset Complete */

.main-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  border: 8px solid rgb(232, 20, 154);
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-section-container {
  flex: 1 1 auto;
  border: 8px solid rgb(58, 179, 108);
}

.main-footer {
  flex: 0 1 40px;
}

.scoreboard-container {
  border: 2px solid orange;
}

.scoreboard-container h4 {
  display: flex;
  justify-content: center;
}

.scoreboard-container {
  border: 2px solid yellow;
  padding: 1rem;
}

.header-ticker-container {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
}

.header-ticker {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 20rem;
}

.header-ticker-visitor {
  background-color: darkmagenta;
}

.header-ticker-center {
  background-color: rgb(13, 62, 92);
}

.header-ticker-home {
  background-color: rgb(15, 157, 157);
}

.static-components {
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.static-components-style {
  background-color: brown;
}

.logo-background {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  background-color: indigo;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.logo-team {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  width: 18rem;
  padding: 0 1rem;
}

.logo-visitor {
  /* background-color: silver; */
  height: 4rem;
  width: 4rem;
}

.logo-home {
  /* background-color: darkgreen; */
  height: 4rem;
  width: 4rem;
}

.record-team-container {
  display: flex;
  justify-content: space-between;
  min-height: 1rem;
  width: 20rem;
  background-color: grey;
}

.indicators-container {
  display: flex;
  background-color: rgb(119, 57, 57);
  min-height: 1rem;
  display: flex;
  justify-content: center;
}

.indicator-timeouts {
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1rem;
  width: 20rem;
  padding: 0 1rem;
}

.indicator-timeouts-visitor {
  background-color: white;
  width: 5rem;
  min-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator-timeouts-home {
  background-color: white;
  width: 5rem;
  min-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators-container input {
  appearance: none;
  width: 2em;
  height: 0.5em;
  background: rgb(22, 192, 192);
}
